services:
  axonserver:
    image: 'axoniq/axonserver:latest'
    environment:
      - 'AXONIQ_AXONSERVER_STANDALONE=TRUE'
    ports:
      - '8024:8024'
      - '8124:8124'
    networks:
      - accounts-net

  mysql:
    image: 'mysql:latest'
    environment:
      - 'MYSQL_DATABASE=accounts_db'
      - 'MYSQL_ROOT_PASSWORD=1234'
      - 'MYSQL_USER=admin'
      - 'MYSQL_PASSWORD=1234'
    volumes:
      - accounts_data:/var/lib/mysql
    ports:
      - '3306:3306'
    networks:
      - accounts-net

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    restart: always
    ports:
      - "8088:80"
    environment:
      PMA_HOST: mysql
      PMA_PORT: 3306
      PMA_USER: root
      PMA_PASSWORD: 1234
    networks:
      - accounts-net
    depends_on:
      - mysql

volumes:
  accounts_data:

networks:
  accounts-net:
    driver: bridge